@model dynamic

<header>
    <h2>Board Game Manager</h2>
</header>
<nav></nav>
<article>
    <section id="boardGameList">
        <div class="waitingIndicator" />
        <ul data-bind="foreach: boardGames">
            <li data-bind="text: Name, event: { mouseover: $parent.selectGame }"/> <!--text: BoardGame().name-->
        </ul>
    </section>
</article>
<aside>
    <section id="selectedBoardGameDetails" data-bind="with: selectedGame">
        <div class="waitingIndicator" />
        <span data-bind="text: Name"></span>
    </section>
</aside>
<footer></footer>
